@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Student I.T.: @ViewData["Student"]</p>

<andress>
    <strong>For more information: </strong><a href="https://www.linkedin.com/in/luisrachope/">https://www.linkedin.com/in/luisrachope/</a>
</andress>
