@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Luis Roberto<br />
    São Paulo-SP, Brasil.<br />
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/LuisRachope">https://github.com/LuisRachope</a><br />
    <strong>Likedln:</strong> <a href=https://www.linkedin.com/in/luisrachope/">https://www.linkedin.com/in/luisrachope/</a>
</address>
