@model BusinessPaymentsWebApp.Models.ViewModels.ReceivableFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Receivable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Receivable.CustomerId" class="control-label"></label>
                <select asp-for="Receivable.CustomerId" class="form-control" asp-items="@(new SelectList(Model.Customers, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Receivable.Purchase" class="control-label"></label>
                <input asp-for="Receivable.Purchase" class="form-control" />
                <span asp-validation-for="Receivable.Purchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receivable.Price" class="control-label"></label>
                <input asp-for="Receivable.Price" class="form-control" />
                <span asp-validation-for="Receivable.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receivable.DateCredit" class="control-label"></label>
                <input asp-for="Receivable.DateCredit" class="form-control" />
                <span asp-validation-for="Receivable.DateCredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receivable.Remarks" class="control-label"></label>
                <input asp-for="Receivable.Remarks" class="form-control" />
                <span asp-validation-for="Receivable.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
